.forgotPassword {
  position: relative;
  margin: 18vh 0 17vh 32%;
  box-shadow: 0px 4px 4px $form-box-shadow-color;
  width: 500px;
  height: 300px;
  &__header {
    position: absolute;
    margin: 2% 0 0 22%;
    &--transform {
      margin-left: 0%;
    }
  }
  &__form {
    position: absolute;
    margin-top: 20%;
  }
  &__container {
    position: relative;
  }
  &__variation {
    position: absolute;
    top: 5%;
    left: 13%;
  }
}

.form-input {
  background-color: $form-input-color;
  box-shadow: 0 2px 2px $form-box-shadow-color;
  width: 86%;
  margin-left: 7%;
}

@media (min-width: 1920px) {
  .forgotPassword {
    margin: 20vh 0 28vh 32%;
  }
}

@media (max-width: 768px) {
  .forgotPassword {
    margin-left: 16%;
  }
}

@media (max-width: 425px) {
  .forgotPassword {
    margin-left: 0;
    box-shadow: none;
    width: inherit;
    &__header {
      margin-left: 25%;
      &--text {
        font-size: 1.8rem;
      }
      &--transform {
        font-size: 1.2rem;
      }
    }
    &__variation {
      left: 12%;
      position: absolute;
      top: 5%;
    }
  }
}

@media (max-width: 375px) {
  .forgotPassword {
    margin-top: 25%;
    box-shadow: none;
    width: inherit;
    &__header {
      margin-left: 22%;
      &--transform {
        font-size: 1rem;
        left: 0;
      }
    }
  }
}

@media (max-width: 320px) {
  .forgotPassword {
    box-shadow: none;
    width: inherit;
    &__header {
      margin-left: 14%;
      &--transform {
        font-size: 0.9rem;
      }
    }
    &__variation {
      left: 10%;
    }
  }
  .form-input {
    height: 2%;
  }
  &::placeholder {
    font-size: 90%;
  }
}

.field-alert {
  padding-left: 7% !important;
}

#password-reset-page {
  overflow: hidden;
}
