.search-bar__container {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid black;
}

.author-card__container {
  background: #f5f4f4;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.75);
  padding: 20px;
  margin-bottom: 20px;

  .author-card__left {
    .user-image {
      border-radius: 50% !important;
      margin-right: 10px;
    }
  }

  .author-card__right {
    p {
      margin-bottom: 0;
    }
    .username {
      font-size: 2em;
      font-weight: 400;
    }
    .bio {
      font-size: 14px;
    }
    .stats {
      span {
        background: #fff;
        padding: 10px;
        border-radius: 20px;
        margin-right: 15px;
      }
    }
    .action-buttons {
      button {
        border-radius: 20px;
        padding: 10px 30px;
        color: #fff;
        cursor: pointer;
        margin-right: 20px;
        outline: none;
      }
      .profile__button {
        background: #c4c4c4;
        color: black;
      }
      .follow__button {
        background: #2f3640;
      }

      .follow__button.u-unfollow {
        background: #eb5757;
      }
    }

    @media (max-width: 768px) {
      height: 200px;
    }
  }
}
