.cover-image {
  position: relative;
  border: 1px solid $bootstrap-line-color !important;
  background: #c4c4c4;
  border-radius: 5px;
  & input[type='file'] {
    display: none;
  }

  & .image-icon {
    position: absolute;
    z-index: 300;
    width: 100px;
    height: 100px;
    left: 90%;
    top: 2%;
    border-radius: 50%;
    background: #d7d7d7;

    & i {
        font-size: 3.5em;
        top: 22%;
        left: 22%;
        position: absolute;
    }
  }
  & label {
    width: 100%;
    height: 500px;
    & img {
        width: 100%;
        height: 500px;
    }
    & .btn-cover {
      position: relative;
      z-index: 300;
      background: #d7d7d7;
      border-radius: 40px;
      position: absolute;
      width: 278px;
      height: 60px;
      left: 36%;
      top: 45%;

      & p{
        position: absolute;
        top: 24%;
        left: 29%;
        color: #000;
        font-size: 1.2em;
    }
    }
  }
}

@media (max-width: 768px){
  .cover-image{
    .image-icon{
      left: 84%;
      top: 7%;
    }

    & label {
      & .btn-cover{
        left: 30%;
        top: 51%;
      }
    }
  }
}