.DraftEditor {
  &-root {
    min-height: 200px;
  }

  &-editorContainer {
    // background-color: $editor-body-color;
    margin: 10px 10px 0 10px;
    & .public-DraftEditor-content {
      & figure {
        text-align: center;
        & img {
          padding: 10px;
          width: 65%;
        }
      }
      & pre {
        background-color: rgba(0, 0, 0, 0.05);
        font-family: 'Inconsolata', 'Menlo', 'Consolas', monospace;
        font-size: 16px;
        margin-bottom: 20px;
      }

      & h1 {
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

.editor {
  position: relative;
  border: 1px solid #ced4da;
  &__toolbar {
    // background-color: #95a5a6;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #ced4da;

    & ul {
      width: 250px;
      position: absolute;
      margin: 2% 0 0 12%;
      list-style: none;

      & li {
        display: inline-block;
        cursor: pointer;
        &:not(:first-child) {
          margin-left: 12%;
        }
        &:hover {
          & i {
            color: #ced4da;
          }
        }
      }

      & button {
        border: none;
        background-color: $primary-white;
        outline: none;
      }
    }
    &--ordering {
      left: 20%;
    }
    &--alignment {
      left: 43%;
    }
    &--img {
      left: 65%;
      input[type='file'].file-uploader {
        display: none;
        cursor: pointer;
      }
      & li {
        width: 26.1px;
        height: 26.1px;
        z-index: -1;
        cursor: pointer;
      }
    }
  }
}

.input-group {
  width: 13%;
  margin-top: 1.5% !important;
  margin-left: 1% !important;
  position: absolute;
}
.RichEditor-blockquote {
  background: #f9f9f9;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
  quotes: '\201C''\201D''\2018''\2019';
}
.RichEditor-blockquote::before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}
