.notifications {
  background-color: #eee;
  z-index: 20;
  width: 20%;
  position: absolute;
  right: 9.5%;
  top: 109%;
  box-shadow: 0px 4px 4px $form-box-shadow-color;
  display: none;
  &-item {
    background-color: #d7d7d7;
    padding: 2%;
    margin: 2% 2% 2% 2%;
    box-shadow: 0px 4px 4px $form-box-shadow-color;
    &:hover {
      box-shadow: 0px 0px 0px $form-box-shadow-color;
      cursor: pointer;
      background-color: #d4d4d4;
      font-size: 16px;
      border: 1px solid #d7d7d7;
    }
  }
  &-header {
    display: flex;
    border-bottom: 10px solid black;
    box-shadow: 0px 2px 2px $form-box-shadow-color;
    &-title {
      width: 70%;
      padding: 5% 0 0% 5%;
      font-size: 20px;
    }
    &-snoozer {
      width: 20%;
      margin: 4% 0 4% 0;
      background-color: green;
      border-radius: 30px;
    }
  }
  &-snoozed {
    font-style: italic;
    padding: 5%;
  }
  &-container {
    height: 300px;
    overflow: scroll;
  }
}

.triangle {
  position: absolute;
  z-index: 20;
  &-up {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid red;
  }
  &-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
  }
  &-left {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid red;
    border-bottom: 50px solid transparent;
  }
  &-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid red;
    border-bottom: 50px solid transparent;
  }
}
/* efefef */
.custom-triangle-notifications {
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid #efefef;
  top: 90%;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #b1b1b1;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: rgb(28, 172, 28);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgb(28, 172, 28);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 768px) {
  .notifications {
    width: 100%;
    right: 0%;
    top: 78%;
  }

  .custom-triangle-notifications {
    display: none !important;
  }
}

@media (max-width: 320px) {
  .notifications {
    top: 77%;
  }
}

.fa-bell-slash {
  padding-left: 5%;
  font-size: 20px;
}

.notifications-empty {
  font-style: italic;
  padding: 5%;
}
