.not-found-page {
  @include center;

  &__number {
    font-family: 'lato';
    font-size: 255px;
    margin-top: 120px;
    color: #2f3640;
  }

  &__text {
    font-family: 'lato';
    font-size: 30px;
    color: #2f3640;
    margin-left: 18%;
    cursor: pointer;
  }

  &__link {
    font-family: 'lato';
    font-size: 20px;
    margin-left: 35%;
    text-decoration: none;
    cursor: pointer;
  }
}
