.boomark_article {
  position: fixed;
  top: 77%;
  left: 4%;
  button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #efefef;
    outline: none;
    text-align: center;
    display: block;
    margin-top: 13%;
    svg {
      margin-top: -10px;
    }
    border: none;
    cursor: pointer;
  }
}
.bookmark_small_screen {
  display: none;
}

@media (max-width: 1024px) {
  .boomark_article {
    top: 71%;
  }
}
@media (max-width: 768px) {
  .bookmark_small_screen {
    display: block;
    float: right;
    margin-right: 270px;
    margin-top: -70px;
    button {
      width: 0;
      background: none;
    }
    .boomark_article {
      position: relative;
    }
  }
}

@media (max-width: 425px) {
  .bookmark_small_screen {
    margin-right: 90px;
    margin-top: -63px;
  }
}

@media (max-width: 375px) {
  .bookmark_small_screen {
    margin-right: 40px;
  }
}
