.boomark_article {
  position: fixed;
  margin-left: -120px;
  top: 82%;
  left: 5%;
  button {
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
  }
}

@media (max-width: 1024px) {
  .boomark_article {
    position: relative;
    float: right;
    margin-top: -82px;
  }
}
