.boomark_article {
  position: fixed;
  margin-top: 150px;
  margin-left: -50px;
  button {
    background: none;
    border: none;
    outline: none;
    .fa-bookmark {
      font-size: 50px;
    }
  }
}

@media (max-width: 768px) {
  .boomark_article {
    position: relative;
    margin: 20px 50% 20px 50%;
    button {
      .fa-bookmark {
        font-size: 40px;
      }
    }
  }
}
