#logo {
  background-color: rgba(33, 122, 195, 0.431);
  height: 50px;
  width: 50px;
  border-radius: 50%;
  text-align: center;
  font-size: 28px;
  padding: 5px;
  margin: 5px;
  font-family: cursive;
  cursor: pointer;
  color: $primary-white;
}

#web-name {
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: $primary-white;
  font-size: 25px;
}

@media (max-width: 320px) {
  #web-name {
    margin: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: $primary-white;
    font-size: 20px;
  }
}

<<<<<<< HEAD
#web-name{
  margin: 10px;
  font-family: 'Times New Roman', Times, serif;
  color: $primary-white;
  font-size: 25px;
}

@media(max-width: 320px){
  #web-name{
    margin: 1px;
    font-family: 'Times New Roman', Times, serif;
    color: $primary-white;
    font-size: 20px;
  }
}
=======
@media (max-width: 768px) {
  .nav-logo-custom {
    display: none !important;
  }
}

/*  */
>>>>>>> ft-optin-optout-notifications-166240795
