.profile-container {
  border: 1px solid #000;
  &__cover {
    position: relative;
    background-color: #2f3640;
    width: 100%;
    height: 130px;
    margin-bottom: 53px;
    &--image {
      position: absolute;
      z-index: 300;
      height: 130px;
      border-radius: 50%;
      top: 95%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  &__details {
    font-size: 1.1em;
    &-bio {
      font-style: italic;
    }
  }
}

.follow {
  background: #2f3640 !important;
  color: white;
}
.unfollow {
  background: red;
  color: white;
}

.single-article {
  background: #f5f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  a {
    text-decoration: none;
    color: black;
  }
  &-image {
    height: 350px;
  }
  &-header {
    p {
      font-family: lato;
      font-size: 22px;
      color: black;
    }
    font-family: Lato;
    font-style: normal;
    font-size: 20px;
    line-height: 30px;
    color: #858383;
  }
  &-title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 2em;
    line-height: 44px;
  }
  &-read-time {
    margin-left: 34px;
  }
  &-status-published {
    margin-left: 330px;
    font-family: Lato;
  }
  &-status-draft {
    margin-left: 373px;
    font-family: Lato;
  }
  &-content {
    font-size: 1.2em !important;
  }
}
.dropdown-menu {
  width: 10px !important;
}

.tab-link {
  color: black !important;
}

.bookmark_container {
  background: #f5f4f4;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  img {
    border-radius: 50%;
  }
  a {
    text-decoration: none;
    color: black;
  }
  &_read_more {
    width: 174.39px;
    height: 32.88px;
    background: #c4c4c4;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
  }
  &_remove {
    width: 174.39px;
    height: 32.88px;
    background: red;
    cursor: pointer;
    border-radius: 30px;
    text-align: center;
    border: none;
  }
  &_title {
    font-family: Lato;
    font-style: normal;
    font-weight: 600;
    font-size: 33px;
    line-height: 40px;
  }

  &_description {
    font-family: STSong;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    line-height: 19px;
  }
  .LOVE {
    background: red;
  }
  .category {
    width: 5px;
    height: 20px;
    margin-left: 30px;
  }
  .MUSIC {
    background: #f2c94c;
  }
  .ART {
    background: rgb(5, 5, 5);
  }

  .TECHNOLOGY {
    background: rgb(20, 115, 194);
  }
  .BUSINESS {
    background: rgb(7, 233, 222);
  }
  .ENTERTAINMENT {
    background: rgb(8, 102, 26);
  }
}
.follower_container {
  box-shadow: 0px 1.5px 0px #dee2e6;
  text-align: center;
  .btn {
    color: white;
    width: 100px;
    height: 32.88px;
    border-radius: 30px;
    text-align: center;
    cursor: pointer;
  }
  &_unfollow {
    background: red;
  }
  &_follow {
    background: #2f3640;
  }
  &_username {
    font-weight: bold;
    margin-left: -6px;
  }
  img {
    border-radius: 50%;
    height: 80px;
  }
  a {
    text-decoration: none;
    color: #2f3640;
  }
}
.profile-modify {
  max-width: 572px;
}

@media (max-width: 1024px) {
  .single-article {
    &-header {
      &-left {
        max-width: 90%;
      }
    }
    &-title,
    &-read-time {
      margin: 0 auto;
    }
    &-status-published {
      margin-left: 210px;
    }

    &-status-draft {
      margin-left: 245px;
    }
  }

  .bookmark_container {
    &_remove {
      margin-left: 362px !important;
      margin-top: -32px !important;
    }
    &_read_more {
      margin-left: 100px !important;
    }
    img {
      width: 20% !important;
      max-width: 100% !important;
    }
  }
  .follower_container {
    height: 100px !important;
    margin-top: -4px !important;
    img {
      width: 19% !important;
      max-width: 100%;
    }
  }
}
@media (max-width: 768px) {
  .profile-container {
    width: 215px;
    &__cover {
      &--image {
        width: 50%;
        height: 70%;
      }
    }
  }
  .profile-stat {
    max-width: 100%;
    margin-left: 55px;
    p {
      text-align: center !important;
    }
  }
  .profile_tabs {
    margin-left: 40px !important;
  }
  .single-article {
    font-size: 18px;
    img {
      width: 482px !important;
    }
    &-title {
      font-size: 31px;
      line-height: 21px;
      text-align: center;
    }
    width: 482px;
    &-content {
      font-size: 1.2em !important;
      width: 482px;
    }
    &-header {
      &-left {
        max-width: 85%;
      }
    }
    &-status-published {
      margin: -53px 0 0 255px;
      font-size: 18px;
    }
    &-status-draft {
      margin-left: 74px;
    }
  }
  .tab-link {
    padding: 10px;
  }
  .bookmark_container {
    &_remove {
      margin-left: 236px !important;
      margin-top: -18px !important;
    }
    &_read_more {
      margin-left: 26px !important;
    }
    img {
      width: 25% !important;
      border-radius: 50%;
      max-width: 100% !important;
    }
  }
  .follower_container {
    height: 100px !important;
    margin-top: -4px !important;
    img {
      width: 27% !important;
    }
  }
}

@media (max-width: 425px) {
  .profile-container {
    width: 100%;
    margin: 3px;
    &__cover {
      height: 160px;
      margin-bottom: 70px;
      &--image {
        height: 168px;
        width: 175px;
      }
    }
  }
  .profile-stat {
    margin-left: 0;
  }
  .tab-link {
    padding: 6px;
  }
  .profile_tabs {
    margin-left: -3px !important;
  }
  .single-article {
    width: 403px;
    box-shadow: none;
    height: 365px !important;
    img {
      display: none;
    }
    &-title {
      font-size: 23px;
      margin-top: -25px !important;
    }
    &-header {
      &-left {
        max-width: 83%;
      }
    }
    &-read {
      margin-left: 12px !important;
    }
    &-content {
      width: 407px;
    }
    &-stat {
      margin-bottom: 0;
      margin-left: 0 !important;
    }
    &-status-published {
      margin: -55px 0 0 211px;
    }
    &-status-draft {
      margin-left: 66px;
    }
  }
  .bookmark_container {
    box-shadow: none;
    height: 365px !important;
    img {
      width: 30% !important;
    }
    &_title {
      font-size: 23px;
    }
    &_read_more {
      width: 123.39px;
      margin-top: 0 !important;
    }
    &_remove {
      margin-left: 225px !important;
      margin-top: -33px !important;
    }
  }
  .follower_container {
    img {
      width: 30% !important;
    }
  }
}

@media (max-width: 375px) {
  .single-article {
    width: 345px;
    height: 460px !important;
    &-content {
      width: 100%;
    }
    &-header {
      p {
        font-size: 15px;
      }
      margin-bottom: 20px;
      &-left {
        max-width: 76%;
      }
    }
    &-stat {
      margin-left: 0 !important;
    }
    &-status-published,
    &-status-draft {
      margin-top: -23px !important;
      margin: 0 auto;
    }
    &-read {
      margin-left: 130px !important;
    }
  }
  .bookmark_container {
    height: 440px !important;
    img {
      width: 36% !important;
      height: 20%;
    }
    &-username {
      width: 180px !important;
      flex: 0 !important;
    }
    &_remove {
      width: 100%;
      margin: 10px 0 0 0 !important;
    }
    &_read_more {
      width: 100%;
      margin: 10px 0 0 0 !important;
    }
  }
  .profile-follow {
    width: 267px;
  }
  .follower_container {
    img {
      width: 35% !important;
    }
  }
}

@media (max-width: 320px) {
  .single-article {
    width: 295px;
    height: 490px !important;
    &-content {
      width: 100%;
    }
    &-header {
      p {
        font-size: 15px;
      }
      margin-bottom: 20px;
      &-left {
        max-width: 76%;
      }
    }
    &-stat {
      margin-left: 0 !important;
    }
    &-status-published,
    &-status-draft {
      margin-top: -23px !important;
      margin: 0 auto;
    }
    &-read {
      margin-left: 80px !important;
    }
  }
  .bookmark_container {
    height: 465px !important;
    img {
      width: 45% !important;
      height: 20%;
    }
    &-username {
      width: 180px !important;
      flex: 0 !important;
    }
    &_remove {
      width: 100%;
      margin: 10px 0 0 0 !important;
    }
    &_read_more {
      width: 100%;
      margin: 10px 0 0 0 !important;
    }
  }
  .profile-follow {
    width: 267px;
  }
  .follower_container {
    img {
      width: 42% !important;
    }
  }
}
