.or-separator {
  text-align: center;
  border-top: 1px solid $whitecolor;
  position: relative;
  transform: translateY(50px);
  width: 100%;
  margin-left: 3px;

  b {
    background: $whitecolor;
    border: 1px solid $whitecolor;
    display: inline-block;
    font-size: 16px;
    height: 40px;
    padding: 0 0px;
    line-height: 35px;
    position: relative;
    text-align: center;
    top: -20px;
    width: 90px;
    z-index: 1;
    font-family: "Lato";
    font-size: 20px;
  }
}
