html,
nav {
  font-family: 'Lato', sans-serif;
}

.nav-item {
  font-family: inherit !important;
}

.hide {
  display: none !important;
}

.show {
  display: block !important;
}

#root{
  width: 100%;
  overflow-x: hidden;
}
