$form-box-shadow-color: rgba(0, 0, 0, 0.25);
$form-input-color: #ebebeb;
$form-button-color: #2f3640;
$text-color-default: #ffffff;
$whitecolor: #e0e0e0;
$googlecolor: #df4930;
$twittercolor: #1aa5d8;
$facebookcolor: #103d80;
$iconcolor: white;
$form-input-color: #ebebeb;
$form-button-color: #2f3640;
$text-color-default: #000000;
$primary-theme-color: #2f3640;
$primary-white: white;
$primary-theme-color: rgba(47, 54, 64, 1);
$primary-white: #ffffff;
$editor-body-color: #ebebeb;
$editor-code-color: #eff0f1;
$bootstrap-line-color: #ced4da;
$primary-tags-color: #bebebe;
$primary-black-color: #000;
$primary-tag-suggetion-color: #8d8a8a;
